In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
from sklearn import preprocessing
MOHAGHEGH_adult_census_income = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
                                  names = ["Age", "Workclass","fnlwgt","education", "education-num","marital-status",
                                           "occupation","relationship","race", "sex", "capital.gain","capital.los",
                                           "hours.per.week","native.country", "income"] , na_values=["?"])
MOHAGHEGH_adult_census_income

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
MOHAGHEGH_adult_census_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age               32561 non-null int64
Workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.los       32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
MOHAGHEGH_adult_census_income.describe()

,Age,fnlwgt,education-num,capital.gain,capital.los,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [4]:
#checking missing valus since in dataset I saw that the unknown values shown via ? I replace with null
MOHAGHEGH_adult_census_income.replace('[?]', np.nan, regex=True , inplace=True)
MOHAGHEGH_adult_census_income

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
MOHAGHEGH_adult_census_income.isnull().sum()

Age                  0
Workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.los          0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [6]:
#Since we have empty cells at 'Workclass' ,'occupation' and 'native.country ' I replace them with most frequent ones
MOHAGHEGH_adult_census_income['Workclass'].describe()

count        30725
unique           8
top        Private
freq         22696
Name: Workclass, dtype: object

In [7]:
MOHAGHEGH_adult_census_income['Workclass'].replace( np.nan, 'Private' ,regex=True , inplace=True)

In [8]:
MOHAGHEGH_adult_census_income['occupation'].describe()

count               30718
unique                 14
top        Prof-specialty
freq                 4140
Name: occupation, dtype: object

In [9]:
MOHAGHEGH_adult_census_income['occupation'].replace( np.nan, 'Prof-specialty' ,regex=True , inplace=True)

In [10]:
MOHAGHEGH_adult_census_income['native.country'].describe()

count              31978
unique                41
top        United-States
freq               29170
Name: native.country, dtype: object

In [11]:
MOHAGHEGH_adult_census_income['native.country'].replace( np.nan, 'United-States' ,regex=True , inplace=True)

In [12]:
MOHAGHEGH_adult_census_income.isnull().sum()

Age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.los       0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [13]:
###############################################preparing dataset for ML ######################################################
MOHAGHEGH_adult_census_income['income'].replace('<=50K','0',regex=True, inplace = True)
MOHAGHEGH_adult_census_income['income'].replace('>50K','1',regex=True,inplace = True)
#in Workclass colums to reduce variables
self_employed = ['Self-emp-not-inc','Self-emp-inc']
govt_employees = ['Local-gov','State-gov','Federal-gov']
MOHAGHEGH_adult_census_income['Workclass'].replace(to_replace = self_employed , value = 'Self_employed',regex=True,inplace = True)
MOHAGHEGH_adult_census_income['Workclass'].replace(to_replace = govt_employees, value = 'Govt_employees',regex=True,inplace = True)
#in education colum to reduce variables
hs_grad = ['HS-grad','11th','10th','9th','12th']
elementary = ['1st-4th','5th-6th','7th-8th']
MOHAGHEGH_adult_census_income['education'].replace(to_replace = hs_grad,value = 'HS-grad',regex=True, inplace = True)
MOHAGHEGH_adult_census_income['education'].replace(to_replace = elementary,value = 'elementary_school',regex=True,inplace = True)
#in marital.status colum to reduce variable
married= ['Married-spouse-absent','Married-civ-spouse','Married-AF-spouse']
separated = ['Separated','Divorced']
MOHAGHEGH_adult_census_income['marital-status'].replace(to_replace = married , value = 'Married',regex=True, inplace = True)
MOHAGHEGH_adult_census_income['marital-status'].replace(to_replace = separated,value = 'Separated',regex=True, inplace = True)
#since some of the colums is kind of dublicate or extra data I can be deleted
#Education num and education are giving similar information also Relationship and marital status imply similar information.Hence keeping only one of the two
MOHAGHEGH_adult_census_income.drop('capital.gain' ,axis = 1,inplace = True)
MOHAGHEGH_adult_census_income.drop('capital.los' ,axis = 1,inplace = True)
MOHAGHEGH_adult_census_income.drop('education-num' , axis = 1, inplace = True)
MOHAGHEGH_adult_census_income.drop('relationship' , axis = 1, inplace = True)
MOHAGHEGH_adult_census_income.drop('fnlwgt' , axis = 1, inplace = True)
MOHAGHEGH_adult_census_income

,Age,Workclass,education,marital-status,occupation,race,sex,hours.per.week,native.country,income
0,39,Govt_employees,Bachelors,Never-married,Adm-clerical,White,Male,40,United-States,0
1,50,Self_employed,Bachelors,Married,Exec-managerial,White,Male,13,United-States,0
2,38,Private,HS-grad,Separated,Handlers-cleaners,White,Male,40,United-States,0
3,53,Private,HS-grad,Married,Handlers-cleaners,Black,Male,40,United-States,0
4,28,Private,Bachelors,Married,Prof-specialty,Black,Female,40,Cuba,0
5,37,Private,Masters,Married,Exec-managerial,White,Female,40,United-States,0
6,49,Private,HS-grad,Married,Other-service,Black,Female,16,Jamaica,0
7,52,Self_employed,HS-grad,Married,Exec-managerial,White,Male,45,United-States,1
8,31,Private,Masters,Never-married,Prof-specialty,White,Female,50,United-States,1
9,42,Private,Bachelors,Married,Exec-managerial,White,Male,40,United-States,1
10,37,Private,Some-college,Married,Exec-managerial,Black,Male,80,United-States,1
11,30,Govt_employees,Bachelors,Married,Prof-specialty,Asian-Pac-Islander,Male,40,India,1
12,23,Private,Bachelors,Never-married,Adm-clerical,White,Female,30,United-States,0
13,32,Private,Assoc-acdm,Never-married,Sales,Black,Male,50,United-States,0
14,40,Private,Assoc-voc,Married,Craft-repair,Asian-Pac-Islander,Male,40,United-States,1
15,34,Private,elementary_school,Married,Transport-moving,Amer-Indian-Eskimo,Male,45,Mexico,0
16,25,Self_employed,HS-grad,Never-married,Farming-fishing,White,Male,35,United-States,0
17,32,Private,HS-grad,Never-married,Machine-op-inspct,White,Male,40,United-States,0
18,38,Private,HS-grad,Married,Sales,White,Male,50,United-States,0
19,43,Self_employed,Masters,Separated,Exec-managerial,White,Female,45,United-States,1
20,40,Private,Doctorate,Married,Prof-specialty,White,Male,60,United-States,1
21,54,Private,HS-grad,Separated,Other-service,Black,Female,20,United-States,0
22,35,Govt_employees,HS-grad,Married,Farming-fishing,Black,Male,40,United-States,0
23,43,Private,HS-grad,Married,Transport-moving,White,Male,40,United-States,0
24,59,Private,HS-grad,Separated,Tech-support,White,Female,40,United-States,0
25,56,Govt_employees,Bachelors,Married,Tech-support,White,Male,40,United-States,1
26,19,Private,HS-grad,Never-married,Craft-repair,White,Male,40,United-States,0
27,54,Private,Some-college,Married,Prof-specialty,Asian-Pac-Islander,Male,60,South,1
28,39,Private,HS-grad,Separated,Exec-managerial,White,Male,80,United-States,0
29,49,Private,HS-grad,Married,Craft-repair,White,Male,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...
32531,30,Private,Bachelors,Never-married,Prof-specialty,Asian-Pac-Islander,Female,99,United-States,0
32532,34,Private,Doctorate,Married,Prof-specialty,White,Male,60,United-States,1
32533,54,Private,Bachelors,Married,Exec-managerial,Asian-Pac-Islander,Male,50,Japan,1
32534,37,Private,Some-college,Separated,Adm-clerical,White,Female,39,United-States,0
32535,22,Private,HS-grad,Never-married,Protective-serv,Black,Male,35,United-States,0
32536,34,Private,Bachelors,Never-married,Exec-managerial,White,Female,55,United-States,1
32537,30,Private,HS-grad,Never-married,Craft-repair,Black,Male,46,United-States,0
32538,38,Private,Bachelors,Separated,Prof-specialty,Black,Female,45,United-States,1
32539,71,Private,Doctorate,Married,Prof-specialty,White,Male,10,United-States,1
32540,45,Govt_employees,HS-grad,Separated,Adm-clerical,White,Female,40,United-States,0
32541,41,Private,HS-grad,Separated,Prof-specialty,Black,Female,32,United-States,0
32542,72,Private,HS-grad,Married,Prof-specialty,White,Male,25,United-States,0
32543,45,Govt_employees,Assoc-acdm,Separated,Prof-specialty,White,Female,48,United-States,0
32544,31,Private,Masters,Separated,Other-service,Other,Female,30,United-States,0
32545,39,Govt_employees,Assoc-acdm,Married,Adm-clerical,White,Female,20,United-States,1
32546,37,Private,Assoc-acdm,Separated,Tech-support,White,Female,40,United-States,0
32547,43,Private,HS-grad,Married,Machine-op-inspct,White,Male,40,Mexico,0
32548,65,Self_employed,Prof-school,Never-married,Prof-specialty,White,Male,60,United-States,0
32549,43,Govt_employees,Some-college,Separated,Adm-clerical,White,Female,40,United-States,0
32550,43,Self_employed,Some-college,Married,Craft-repair,White,Male,50,United-States,0
32551,32,Private,HS-grad,Married,Handlers-cleaners,Amer-Indian-Eskimo,Male,40,United-States,0
32552,43,Private,Assoc-voc,Married,Sales,White,Male,45,United-States,0
32553,32,Private,Masters,Never-married,Tech-support,Asian-Pac-Islander,Male,11,Taiwan,0
32554,53,Private,Masters,Married,Exec-managerial,White,Male,40,United-States,1
32555,22,Private,Some-college,Never-married,Protective-serv,White,Male,40,United-States,0
32556,27,Private,Assoc-acdm,Married,Tech-support,White,Female,38,United-States,0
32557,40,Private,HS-grad,Married,Machine-op-inspct,White,Male,40,United-States,1
32558,58,Private,HS-grad,Widowed,Adm-clerical,White,Female,40,United-States,0
32559,22,Private,HS-grad,Never-married,Adm-clerical,White,Male,20,United-States,0
32560,52,Self_employed,HS-grad,Married,Exec-managerial,White,Female,40,United-States,1

In [14]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
MOHAGHEGH_adult_census_income['Workclass'] = lb_make.fit_transform(MOHAGHEGH_adult_census_income['Workclass'])
MOHAGHEGH_adult_census_income['education'] = lb_make.fit_transform(MOHAGHEGH_adult_census_income['education'])
MOHAGHEGH_adult_census_income['marital-status'] = lb_make.fit_transform(MOHAGHEGH_adult_census_income['marital-status'])
MOHAGHEGH_adult_census_income['race'] = lb_make.fit_transform(MOHAGHEGH_adult_census_income['race'])
MOHAGHEGH_adult_census_income['sex'] = lb_make.fit_transform(MOHAGHEGH_adult_census_income['sex'])
MOHAGHEGH_adult_census_income['occupation'] = lb_make.fit_transform(MOHAGHEGH_adult_census_income['occupation'])
MOHAGHEGH_adult_census_income['native.country'] = lb_make.fit_transform(MOHAGHEGH_adult_census_income['native.country'])
MOHAGHEGH_adult_census_income

,Age,Workclass,education,marital-status,occupation,race,sex,hours.per.week,native.country,income
0,39,0,2,1,0,4,1,40,38,0
1,50,3,2,0,3,4,1,13,38,0
2,38,2,4,2,5,4,1,40,38,0
3,53,2,4,0,5,2,1,40,38,0
4,28,2,2,0,9,2,0,40,4,0
5,37,2,5,0,3,4,0,40,38,0
6,49,2,4,0,7,2,0,16,22,0
7,52,3,4,0,3,4,1,45,38,1
8,31,2,5,1,9,4,0,50,38,1
9,42,2,2,0,3,4,1,40,38,1
10,37,2,8,0,3,2,1,80,38,1
11,30,0,2,0,9,1,1,40,18,1
12,23,2,2,1,0,4,0,30,38,0
13,32,2,0,1,11,2,1,50,38,0
14,40,2,1,0,2,1,1,40,41,1
15,34,2,9,0,13,0,1,45,25,0
16,25,3,4,1,4,4,1,35,38,0
17,32,2,4,1,6,4,1,40,38,0
18,38,2,4,0,11,4,1,50,38,0
19,43,3,5,2,3,4,0,45,38,1
20,40,2,3,0,9,4,1,60,38,1
21,54,2,4,2,7,2,0,20,38,0
22,35,0,4,0,4,2,1,40,38,0
23,43,2,4,0,13,4,1,40,38,0
24,59,2,4,2,12,4,0,40,38,0
25,56,0,2,0,12,4,1,40,38,1
26,19,2,4,1,2,4,1,40,38,0
27,54,5,8,0,14,1,1,60,34,1
28,39,2,4,2,3,4,1,80,38,0
29,49,2,4,0,2,4,1,40,38,0
...,...,...,...,...,...,...,...,...,...,...
32531,30,5,2,1,14,1,0,99,38,0
32532,34,2,3,0,9,4,1,60,38,1
32533,54,2,2,0,3,1,1,50,23,1
32534,37,2,8,2,0,4,0,39,38,0
32535,22,2,4,1,10,2,1,35,38,0
32536,34,2,2,1,3,4,0,55,38,1
32537,30,2,4,1,2,2,1,46,38,0
32538,38,2,2,2,9,2,0,45,38,1
32539,71,5,3,0,14,4,1,10,38,1
32540,45,0,4,2,0,4,0,40,38,0
32541,41,5,4,2,14,2,0,32,38,0
32542,72,5,4,0,14,4,1,25,38,0
32543,45,0,0,2,9,4,0,48,38,0
32544,31,2,5,2,7,3,0,30,38,0
32545,39,0,0,0,0,4,0,20,38,1
32546,37,2,0,2,12,4,0,40,38,0
32547,43,2,4,0,6,4,1,40,25,0
32548,65,3,7,1,9,4,1,60,38,0
32549,43,0,8,2,0,4,0,40,38,0
32550,43,3,8,0,2,4,1,50,38,0
32551,32,2,4,0,5,0,1,40,38,0
32552,43,2,1,0,11,4,1,45,38,0
32553,32,2,5,1,12,1,1,11,35,0
32554,53,2,5,0,3,4,1,40,38,1
32555,22,2,8,1,10,4,1,40,38,0
32556,27,2,0,0,12,4,0,38,38,0
32557,40,2,4,0,6,4,1,40,38,1
32558,58,2,4,3,0,4,0,40,38,0
32559,22,2,4,1,0,4,1,20,38,0
32560,52,3,4,0,3,4,0,40,38,1

In [15]:
from sklearn.utils import shuffle
adult_census_income = MOHAGHEGH_adult_census_income
adult_census_income = shuffle(adult_census_income)
target = adult_census_income['income']
del adult_census_income['income']
adult_census_income = pd.get_dummies(adult_census_income)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(adult_census_income, target, train_size = 0.7)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

((22792, 9), (9769, 9), (22792,), (9769,))

In [17]:
############################################### My_Logistic_Regression #################################
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr = lr.fit(X_train,Y_train)
predicted_lr = lr.predict(X_test)
from sklearn.metrics import accuracy_score
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_lr)

C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7754120176067151

In [18]:
#################################### My_Cross_validation_for_Logistic _Regression ####################################################
from sklearn.model_selection import cross_val_score
all_accuracies = cross_val_score(estimator=lr, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7764127849241357

In [19]:
############################################MY_Grid_search_logistic_Regression #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'C' :np.arange(0.1,2)}
reg = LogisticRegression()
grid = GridSearchCV(lr, param_grid, cv = 5)
grid.fit(X_train, Y_train)
grid.best_params_

C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

{'C': 1.1}

In [20]:
############################################MY_Decision_Tree#################################################
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1000, max_depth=5)
dtc = dtc.fit(X_train, Y_train)
predicted_dtc = dtc.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_dtc)

0.8263895997543249

In [21]:
####################################MY_Cross_validation_for_Decision_Tree ####################################################
from sklearn.model_selection import cross_val_score
all_accuracies = cross_val_score(estimator=dtc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

0.8183129719867901

In [22]:
############################################My_Grid_search_for_Decision_Tree#######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {"criterion": ["gini", "entropy"], "min_samples_split": [2, 10], "max_depth": np.arange(2,10)}
grid = GridSearchCV(dtc, param_grid, cv=3, scoring='neg_mean_squared_error')
grid.fit(X_train, Y_train.values.ravel())
grid.best_params_

{'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 10}

In [27]:
##############################################MY_SVC###############################################################
from sklearn.svm import SVC
svc = SVC(kernel='rbf', C=1.0, degree=3, class_weight=None, gamma = 'auto' , max_iter=10)
svc =svc.fit(X_train, Y_train)
predicted_svc = svc.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_svc)

C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:244: ConvergenceWarning: Solver terminated early (max_iter=10).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

0.7631282628723514

In [24]:
####################################My_Cross_validation_for_SVC ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=svc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:244: ConvergenceWarning: Solver terminated early (max_iter=10).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:244: ConvergenceWarning: Solver terminated early (max_iter=10).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:244: ConvergenceWarning: Solver terminated early (max_iter=10).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:244: ConvergenceWarning: Solver terminated early (max_iter=10).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:244: ConvergenceWarning: Solver terminated early (max_iter=10).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

0.7233667043871196

In [28]:
############################################My_Grid_search-for_SVC #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'C' :np.arange(0.1,1)}
svc = SVC()
grid = GridSearchCV(svc, param_grid, cv=3)
grid.fit(X_train, Y_train)
grid.best_params_

C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Shima\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

{'C': 0.1}

In [29]:
###################################################My_KNN#############################################
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6,metric='minkowski',p=2)
knn =knn.fit(X_train, Y_train)
predicted_knn = knn.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_knn)

0.7942471081994062

In [30]:
####################################Cross validation KNN ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=knn, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

0.7886538609577916

In [31]:
############################################Grid search KNN #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors' :np.arange(1,10)}
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid, cv = 5)
grid.fit(X_train, Y_train)
grid.best_params_

{'n_neighbors': 6}