<a href="https://colab.research.google.com/github/ShimaMETU/CNG_562_HW_1/blob/master/MOHAGHEGH_forest_fires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [440]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [441]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn import preprocessing
forest_fires = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv')
forest_fires['area']=np.log(pd.Series(forest_fires.area)+1)
forest_fires.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [442]:
forest_fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
X        517 non-null int64
Y        517 non-null int64
month    517 non-null object
day      517 non-null object
FFMC     517 non-null float64
DMC      517 non-null float64
DC       517 non-null float64
ISI      517 non-null float64
temp     517 non-null float64
RH       517 non-null int64
wind     517 non-null float64
rain     517 non-null float64
area     517 non-null float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [443]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
MY_ENC = LabelEncoder()
MY_ENC.fit(forest_fires['month'])

LabelEncoder()

In [444]:
forest_fires['month']=MY_ENC.transform(forest_fires['month'])
forest_fires.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      7  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4     10  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6      7  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6      7  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [445]:
MY_ENC.fit(forest_fires['day'])
forest_fires['day']=MY_ENC.transform(forest_fires['day'])
forest_fires.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      7    0  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    5  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    2  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6      7    0  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6      7    3  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [446]:
########################## convert to int #################
forest_fires['FFMC'] = forest_fires['FFMC'].astype(np.int64)
forest_fires['DMC'] = forest_fires['DMC'].astype(np.int64)
forest_fires['DC'] = forest_fires['DC'].astype(np.int64)
forest_fires['ISI'] = forest_fires['ISI'].astype(np.int64)
forest_fires['temp'] = forest_fires['temp'].astype(np.int64)
forest_fires['wind'] = forest_fires['wind'].astype(np.int64)
forest_fires['rain'] = forest_fires['rain'].astype(np.int64)
forest_fires['area'] = forest_fires['area'].astype(np.int64)
forest_fires

     X  Y  month  day  FFMC  DMC   DC  ISI  temp  RH  wind  rain  area
0    7  5      7    0    86   26   94    5     8  51     6     0     0
1    7  4     10    5    90   35  669    6    18  33     0     0     0
2    7  4     10    2    90   43  686    6    14  33     1     0     0
3    8  6      7    0    91   33   77    9     8  97     4     0     0
4    8  6      7    3    89   51  102    9    11  99     1     0     0
5    8  6      1    3    92   85  488   14    22  29     5     0     0
6    8  6      1    1    92   88  495    8    24  27     3     0     0
7    8  6      1    1    91  145  608   10     8  86     2     0     0
8    8  6     11    5    91  129  692    7    13  63     5     0     0
9    7  5     11    2    92   88  698    7    22  40     4     0     0
10   7  5     11    2    92   88  698    7    17  51     7     0     0
11   7  5     11    2    92   73  713   22    19  38     4     0     0
12   6  5      1    0    63   70  665    0    17  72     6     0     0
13   6  5     11    1    90  126  686    7    21  42     2     0     0
14   6  5     11    6    92  133  699    9    26  21     4     0     0
15   6  5     11    0    93  141  713   13    22  44     5     0     0
16   5  5      7    2    91   35   80    7    15  27     5     0     0
17   8  5     10    1    84   32  664    3    16  47     4     0     0
18   6  4      7    6    89   27   70    6    15  35     4     0     0
19   6  4      0    2    86   27   97    5     9  44     4     0     0
20   6  4     11    5    91  129  692    7    18  40     2     0     0
21   5  4     11    1    91   78  724    9    19  38     2     0     0
22   7  4      6    3    94   96  200   56    21  44     4     0     0
23   7  4      1    2    90  110  537    6    19  43     5     0     0
24   7  4      1    2    93  139  594   20    23  32     5     0     0
25   7  4      1    3    91  142  601   10    16  60     5     0     0
26   7  4     11    0    92  117  668   12    19  34     5     0     0
27   7  4     11    1    90  126  686    7    19  48     1     0     0
28   6  3     11    2    93  145  721    8    30  24     2     0     0
29   6  3     11    3    93  149  728    8    22  39     3     0     0
..  .. ..    ...  ...   ...  ...  ...  ...   ...  ..   ...   ...   ...
487  5  4      1    5    95  141  605   17    26  34     3     0     2
488  4  4      1    5    95  141  605   17    19  71     7     0     3
489  4  4      1    6    95  141  605   17    20  58     1     0     0
490  4  4      1    6    95  141  605   17    28  33     4     0     0
491  4  4      1    4    95  152  624   13    32  21     4     0     0
492  1  3      1    0    95  158  633   11    32  27     2     0     0
493  1  3      1    0    95  158  633   11    27  29     4     0     3
494  6  6      1    2    96  164  643   14    30  30     4     0     2
495  6  6      1    1    96  175  661   16    23  42     2     0     0
496  4  5      1    1    96  175  661   16    32  26     3     0     1
497  3  4      1    5    96  181  671   14    32  27     2     0     2
498  6  5      1    5    96  181  671   14    33  26     2     0     3
499  7  5      1    5    96  181  671   14    27  63     4     6     2
500  8  6      1    5    96  181  671   14    21  65     4     0     0
501  7  5      1    5    96  181  671   14    21  65     4     0     0
502  4  4      1    5    96  181  671   14    20  69     4     0     0
503  2  4      1    6    94  139  689   20    29  30     4     0     1
504  4  3      1    6    94  139  689   20    28  29     4     0     3
505  1  2      1    4    91  163  744   10    26  35     1     0     1
506  1  2      1    0    91  166  752    7    18  73     8     0     0
507  2  4      1    0    91  166  752    7    25  41     3     0     0
508  1  2      1    0    91  166  752    7    25  41     3     0     0
509  5  4      1    0    91  166  752    7    21  71     7     1     1
510  6  5      1    0    91  166  752    7    18  62     5     0     0
511  8  6      1    3    81   56  665    1    27  35     2     0     0
512  4  3      1    3    81   56  665    1    27  32     2     0     2
513  2  4      1    3    81   56  665    1    21  71     5     0     4
514  7  4      1    3    81   56  665    1    21  70     6     0     2
515  1  4      1    2    94  146  614   11    25  42     4     0     0
516  6  3      9    5    79    3  106    1    11  31     4     0     0

[517 rows x 13 columns]

In [447]:
forest_fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
X        517 non-null int64
Y        517 non-null int64
month    517 non-null int64
day      517 non-null int64
FFMC     517 non-null int64
DMC      517 non-null int64
DC       517 non-null int64
ISI      517 non-null int64
temp     517 non-null int64
RH       517 non-null int64
wind     517 non-null int64
rain     517 non-null int64
area     517 non-null int64
dtypes: int64(13)
memory usage: 52.6 KB

In [448]:
column_names_to_normalize = ['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain']
x = forest_fires[column_names_to_normalize].values
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
forest_fires_temp = pd.DataFrame(x_scaled, columns=column_names_to_normalize, index = forest_fires.index)
forest_fires[column_names_to_normalize] = forest_fires_temp
forest_fires.head()

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,7,0,0.871795,0.086207,0.101993,0.089286,0.193548,0.423529,0.666667,0.0,0
1,7,4,10,5,0.923077,0.117241,0.776084,0.107143,0.516129,0.211765,0.000000,0.0,0
2,7,4,10,2,0.923077,0.144828,0.796014,0.107143,0.387097,0.211765,0.111111,0.0,0
3,8,6,7,0,0.935897,0.110345,0.082063,0.160714,0.193548,0.964706,0.444444,0.0,0
4,8,6,7,3,0.910256,0.172414,0.111372,0.160714,0.290323,0.988235,0.111111,0.0,0

In [0]:
data = forest_fires
target = data['area']
del data['area']
data = pd.get_dummies(data)

In [0]:
from sklearn.utils import shuffle
data, target = shuffle(data, target, random_state=0)

In [451]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, train_size = 0.7)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

((361, 12), (156, 12), (361,), (156,))

In [452]:
############################################### LinearRegression #################################
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

lr = LinearRegression(copy_X= True, fit_intercept= True, normalize= True)
lr = lr.fit(X_train,Y_train)
predicted_lr = lr.predict(X_test)
from sklearn import metrics
mse = metrics.mean_squared_error(Y_test,predicted_lr)
mse

1.5874850407490908

In [453]:
#################################### Cross validation Linear Regression ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=lr, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

-0.10587022029664639

In [454]:
############################################ Grid search linear Regression #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'fit_intercept':[True,False], 'normalize':[True,False], 'copy_X':[True, False]};
reg = LinearRegression()
grid = GridSearchCV(lr, param_grid, cv = 5)
grid.fit(X_train, Y_train)
Y_pred_reg = grid.predict(X_test)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'copy_X': True, 'fit_intercept': False, 'normalize': True}

In [455]:
r2 = r2_score(Y_test, Y_pred_reg)
mse = mean_squared_error(Y_test, Y_pred_reg)
print('r2: ', r2)
print('mse: ', mse)

r2:  -0.06812164907266904
mse:  1.590024777323947

In [456]:
############################################Decision tree#####################################################3
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics

dtc = DecisionTreeRegressor()
dtc = dtc.fit(X_train, Y_train)
predicted_dtc = dtc.predict(X_test)


r2 = r2_score(Y_test, predicted_dtc)
mse = mean_squared_error(Y_test, predicted_dtc)
print('r2: ', r2)
print('mse: ', mse)

r2:  -1.0971098904132282
mse:  3.121794871794872

In [457]:
####################################Cross validation Decision tree ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=dtc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

-1.2128475289367335

In [458]:
############################################Grid search#######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'max_depth':np.arange(2,200)}
grid = GridSearchCV(dtc, param_grid, cv=3, scoring='neg_mean_squared_error')
grid.fit(X_train, Y_train.values.ravel())
y_pred_class = grid.predict(X_test)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'max_depth': 2}

In [459]:
r2 = r2_score(Y_test, y_pred_class)
mse = mean_squared_error(Y_test, y_pred_class)
print('r2: ', r2)
print('mse: ', mse)

r2:  -0.06360120365116062
mse:  1.5832955623220983

In [0]:
###################################################KNN#############################################
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor()
knn =knn.fit(X_train, Y_train)
predicted_knn = knn.predict(X_test)

In [461]:
r2 = r2_score(Y_test, predicted_knn)
mse = mean_squared_error(Y_test, predicted_knn)
print('r2: ', r2)
print('mse: ', mse)

r2:  -0.23811300963369875
mse:  1.843076923076923

In [462]:
####################################Cross validation KNN ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=knn, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

-0.3465155801873153

In [463]:
###########################################Grid search KNN #######################################################
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
param_grid = {'n_neighbors' :np.arange(1,10)}
knn = KNeighborsRegressor()
grid = GridSearchCV(knn, param_grid, cv = 5)
grid.fit(X_train, Y_train)
predicted_knn = grid.predict(X_test)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'n_neighbors': 9}

In [464]:
r2 = r2_score(Y_test, predicted_knn)
mse = mean_squared_error(Y_test, predicted_knn)
print('r2: ', r2)
print('mse: ', mse)

r2:  -0.14507186679875583
mse:  1.70457423235201

In [0]:
#####this one shows that zeros are small fire and the ones are big fire
from skimage.filters import threshold_otsu
target1= np.array (target)
threshold_global_otsu = threshold_otsu(target)
global_otsu = target >= threshold_global_otsu

In [466]:
print(threshold_global_otsu)

1

In [0]:
forest_fires["small_big"] = global_otsu

In [0]:
forest_fires["small_big"] = forest_fires["small_big"].apply(lambda x:x*1)

In [469]:
forest_fires

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,small_big
0,7,5,7,0,0.871795,0.086207,0.101993,0.089286,0.193548,0.423529,0.666667,0.000000,0
1,7,4,10,5,0.923077,0.117241,0.776084,0.107143,0.516129,0.211765,0.000000,0.000000,0
2,7,4,10,2,0.923077,0.144828,0.796014,0.107143,0.387097,0.211765,0.111111,0.000000,0
3,8,6,7,0,0.935897,0.110345,0.082063,0.160714,0.193548,0.964706,0.444444,0.000000,0
4,8,6,7,3,0.910256,0.172414,0.111372,0.160714,0.290323,0.988235,0.111111,0.000000,0
5,8,6,1,3,0.948718,0.289655,0.563892,0.250000,0.645161,0.164706,0.555556,0.000000,0
6,8,6,1,1,0.948718,0.300000,0.572098,0.142857,0.709677,0.141176,0.333333,0.000000,0
7,8,6,1,1,0.935897,0.496552,0.704572,0.178571,0.193548,0.835294,0.222222,0.000000,0
8,8,6,11,5,0.935897,0.441379,0.803048,0.125000,0.354839,0.564706,0.555556,0.000000,0
9,7,5,11,2,0.948718,0.300000,0.810082,0.125000,0.645161,0.294118,0.444444,0.000000,0
10,7,5,11,2,0.948718,0.300000,0.810082,0.125000,0.483871,0.423529,0.777778,0.000000,0
11,7,5,11,2,0.948718,0.248276,0.827667,0.392857,0.548387,0.270588,0.444444,0.000000,0
12,6,5,1,0,0.576923,0.237931,0.771395,0.000000,0.483871,0.670588,0.666667,0.000000,0
13,6,5,11,1,0.923077,0.431034,0.796014,0.125000,0.612903,0.317647,0.222222,0.000000,0
14,6,5,11,6,0.948718,0.455172,0.811254,0.160714,0.774194,0.070588,0.444444,0.000000,0
15,6,5,11,0,0.961538,0.482759,0.827667,0.232143,0.645161,0.341176,0.555556,0.000000,0
16,5,5,7,2,0.935897,0.117241,0.085580,0.125000,0.419355,0.141176,0.555556,0.000000,0
17,8,5,10,1,0.846154,0.106897,0.770223,0.053571,0.451613,0.376471,0.444444,0.000000,0
18,6,4,7,6,0.910256,0.089655,0.073857,0.107143,0.419355,0.235294,0.444444,0.000000,0
19,6,4,0,2,0.871795,0.089655,0.105510,0.089286,0.225806,0.341176,0.444444,0.000000,0
20,6,4,11,5,0.935897,0.441379,0.803048,0.125000,0.516129,0.294118,0.222222,0.000000,0
21,5,4,11,1,0.935897,0.265517,0.840563,0.160714,0.548387,0.270588,0.222222,0.000000,0
22,7,4,6,3,0.974359,0.327586,0.226260,1.000000,0.612903,0.341176,0.444444,0.000000,0
23,7,4,1,2,0.923077,0.375862,0.621336,0.107143,0.548387,0.329412,0.555556,0.000000,0
24,7,4,1,2,0.961538,0.475862,0.688159,0.357143,0.677419,0.200000,0.555556,0.000000,0
25,7,4,1,3,0.935897,0.486207,0.696366,0.178571,0.451613,0.529412,0.555556,0.000000,0
26,7,4,11,0,0.948718,0.400000,0.774912,0.214286,0.548387,0.223529,0.555556,0.000000,0
27,7,4,11,1,0.923077,0.431034,0.796014,0.125000,0.548387,0.388235,0.111111,0.000000,0
28,6,3,11,2,0.961538,0.496552,0.837046,0.142857,0.903226,0.105882,0.222222,0.000000,0
29,6,3,11,3,0.961538,0.510345,0.845252,0.142857,0.645161,0.282353,0.333333,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,5,4,1,5,0.987179,0.482759,0.701055,0.303571,0.774194,0.223529,0.333333,0.000000,1
488,4,4,1,5,0.987179,0.482759,0.701055,0.303571,0.548387,0.658824,0.777778,0.000000,1
489,4,4,1,6,0.987179,0.482759,0.701055,0.303571,0.580645,0.505882,0.111111,0.000000,0
490,4,4,1,6,0.987179,0.482759,0.701055,0.303571,0.838710,0.211765,0.444444,0.000000,0
491,4,4,1,4,0.987179,0.520690,0.723329,0.232143,0.967742,0.070588,0.444444,0.000000,0
492,1,3,1,0,0.987179,0.541379,0.733880,0.196429,0.967742,0.141176,0.222222,0.000000,0
493,1,3,1,0,0.987179,0.541379,0.733880,0.196429,0.806452,0.164706,0.444444,0.000000,1
494,6,6,1,2,1.000000,0.562069,0.745604,0.250000,0.903226,0.176471,0.444444,0.000000,1
495,6,6,1,1,1.000000,0.600000,0.766706,0.285714,0.677419,0.317647,0.222222,0.000000,0
496,4,5,1,1,1.000000,0.600000,0.766706,0.285714,0.967742,0.129412,0.333333,0.000000,1
497,3,4,1,5,1.000000,0.620690,0.778429,0.250000,0.967742,0.141176,0.222222,0.000000,1
498,6,5,1,5,1.000000,0.620690,0.778429,0.250000,1.000000,0.129412,0.222222,0.000000,1
499,7,5,1,5,1.000000,0.620690,0.778429,0.250000,0.806452,0.564706,0.444444,1.000000,1
500,8,6,1,5,1.000000,0.620690,0.778429,0.250000,0.612903,0.588235,0.444444,0.000000,0
501,7,5,1,5,1.000000,0.620690,0.778429,0.250000,0.612903,0.588235,0.444444,0.000000,0
502,4,4,1,5,1.000000,0.620690,0.778429,0.250000,0.580645,0.635294,0.444444,0.000000,0
503,2,4,1,6,0.974359,0.475862,0.799531,0.357143,0.870968,0.176471,0.444444,0.000000,1
504,4,3,1,6,0.974359,0.475862,0.799531,0.357143,0.838710,0.164706,0.444444,0.000000,1
505,1,2,1,4,0.935897,0.558621,0.864009,0.178571,0.774194,0.235294,0.111111,0.000000,1
506,1,2,1,0,0.935897,0.568966,0.873388,0.125000,0.516129,0.682353,0.888889,0.000000,0
507,2,4,1,0,0.935897,0.568966,0.873388,0.125000,0.741935,0.305882,0.333333,0.000000,0
508,1,2,1,0,0.935897,0.568966,0.873388,0.125000,0.741935,0.305882,0.333333,0.000000,0
509,5,4,1,0,0.935897,0.568966,0.873388,0.125000,0.612903,0.658824,0.777778,0.166667,1
510,6,5,1,0,0.935897,0.568966,0.873388,0.125000,0.516129,0.552941,0.555556,0.000000,0
511,8,6,1,3,0.807692,0.189655,0.771395,0.017857,0.806452,0.235294,0.222222,0.000000,0
512,4,3,1,3,0.807692,0.189655,0.771395,0.017857,0.806452,0.200000,0.222222,0.000000,1
513,2,4,1,3,0.807692,0.189655,0.771395,0.017857,0.612903,0.658824,0.555556,0.000000,1
514,7,4,1,3,0.807692,0.189655,0.771395,0.017857,0.612903,0.647059,0.666667,0.000000,1
515,1,4,1,2,0.974359,0.500000,0.711606,0.196429,0.741935,0.317647,0.444444,0.000000,0
516,6,3,9,5,0.782051,0.006897,0.116061,0.017857,0.290323,0.188235,0.444444,0.000000,0

In [0]:
data = forest_fires
target = data['small_big']
del data['small_big']

In [471]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, train_size = 0.7)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

((361, 12), (156, 12), (361,), (156,))

In [477]:
############################################### My Logistic Regression#################################
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr = lr.fit(X_train,Y_train)
predicted_lr = lr.predict(X_test)
from sklearn.metrics import accuracy_score
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_lr)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.5961538461538461

In [479]:
################################################### My KNN #############################################
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn =knn.fit(X_train, Y_train)
predicted_knn = knn.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_knn)

0.5576923076923077

In [482]:
############################################ My Decision tree#####################################################
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1, max_depth=5)
dtc = dtc.fit(X_train, Y_train)
predicted_dtc = dtc.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_dtc)

0.5576923076923077