<a href="https://colab.research.google.com/github/ShimaMETU/CNG_562_HW_1/blob/master/MOHAGHEGH_adult_census_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
from sklearn import preprocessing
adult_census_income = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
                                  names = ["Age", "Workclass","fnlwgt","education", "education-num","marital-status",
                                           "occupation","relationship","race", "sex", "capital.gain","capital.los",
                                           "hours.per.week","native.country", "income"] , na_values=["?"])
adult_census_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age               32561 non-null int64
Workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.los       32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [0]:
adult_census_income.describe()

,Age,fnlwgt,education-num,capital.gain,capital.los,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [3]:
#checking missing valus since in dataset I saw that the unknown values shown via ? I replace with null
adult_census_income.replace('[?]', np.nan, regex=True , inplace=True)
adult_census_income

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
adult_census_income.isnull().sum()

Age                  0
Workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.los          0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [6]:
adult_census_income['Workclass'].describe()

count        30725
unique           8
top        Private
freq         22696
Name: Workclass, dtype: object

In [0]:

adult_census_income['Workclass'].replace( np.nan, 'Private' ,regex=True , inplace=True)

In [8]:
adult_census_income['occupation'].describe()

count               30718
unique                 14
top        Prof-specialty
freq                 4140
Name: occupation, dtype: object

In [0]:

adult_census_income['occupation'].replace( np.nan, 'Prof-specialty' ,regex=True , inplace=True)

In [10]:

adult_census_income['native.country'].describe()

count              31978
unique                41
top        United-States
freq               29170
Name: native.country, dtype: object

In [0]:
adult_census_income['native.country'].replace( np.nan, 'United-States' ,regex=True , inplace=True)

In [12]:

adult_census_income.isnull().sum()

Age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.los       0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [13]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

data = adult_census_income
target = data['income']
del data['income']
del data['education']
print(adult_census_income)
data = pd.get_dummies(data, prefix=['Workclass','marital-status','occupation','relationship','race','sex','native.country'], columns=['Workclass','marital-status','occupation','relationship','race','sex','native.country'])
scaler = MinMaxScaler()
data[['Age','fnlwgt','education-num','capital.gain','capital.los', 'hours.per.week']] = scaler.fit_transform(data[['Age','fnlwgt','education-num','capital.gain','capital.los', 'hours.per.week']])

print()

       Age          Workclass  fnlwgt  education-num          marital-status  \
0       39          State-gov   77516             13           Never-married
1       50   Self-emp-not-inc   83311             13      Married-civ-spouse
2       38            Private  215646              9                Divorced
3       53            Private  234721              7      Married-civ-spouse
4       28            Private  338409             13      Married-civ-spouse
5       37            Private  284582             14      Married-civ-spouse
6       49            Private  160187              5   Married-spouse-absent
7       52   Self-emp-not-inc  209642              9      Married-civ-spouse
8       31            Private   45781             14           Never-married
9       42            Private  159449             13      Married-civ-spouse
10      37            Private  280464             10      Married-civ-spouse
11      30          State-gov  141297             13      Married-civ-spouse
12      23            Private  122272             13           Never-married
13      32            Private  205019             12           Never-married
14      40            Private  121772             11      Married-civ-spouse
15      34            Private  245487              4      Married-civ-spouse
16      25   Self-emp-not-inc  176756              9           Never-married
17      32            Private  186824              9           Never-married
18      38            Private   28887              7      Married-civ-spouse
19      43   Self-emp-not-inc  292175             14                Divorced
20      40            Private  193524             16      Married-civ-spouse
21      54            Private  302146              9               Separated
22      35        Federal-gov   76845              5      Married-civ-spouse
23      43            Private  117037              7      Married-civ-spouse
24      59            Private  109015              9                Divorced
25      56          Local-gov  216851             13      Married-civ-spouse
26      19            Private  168294              9           Never-married
27      54            Private  180211             10      Married-civ-spouse
28      39            Private  367260              9                Divorced
29      49            Private  193366              9      Married-civ-spouse
...    ...                ...     ...            ...                     ...
32531   30            Private   33811             13           Never-married
32532   34            Private  204461             16      Married-civ-spouse
32533   54            Private  337992             13      Married-civ-spouse
32534   37            Private  179137             10                Divorced
32535   22            Private  325033              8           Never-married
32536   34            Private  160216             13           Never-married
32537   30            Private  345898              9           Never-married
32538   38            Private  139180             13                Divorced
32539   71            Private  287372             16      Married-civ-spouse
32540   45          State-gov  252208              9               Separated
32541   41            Private  202822              9               Separated
32542   72            Private  129912              9      Married-civ-spouse
32543   45          Local-gov  119199             12                Divorced
32544   31            Private  199655             14                Divorced
32545   39          Local-gov  111499             12      Married-civ-spouse
32546   37            Private  198216             12                Divorced
32547   43            Private  260761              9      Married-civ-spouse
32548   65   Self-emp-not-inc   99359             15           Never-married
32549   43          State-gov  255835             10                Divorced
32550   43   Self-emp-not-inc   27242             10      Married-civ-spouse
32551   32            Private   34066              6      Married-civ-spouse
32552   43            Private   84661             11      Married-civ-spouse
32553   32            Private  116138             14           Never-married
32554   53            Private  321865             14      Married-civ-spouse
32555   22            Private  310152             10           Never-married
32556   27            Private  257302             12      Married-civ-spouse
32557   40            Private  154374              9      Married-civ-spouse
32558   58            Private  151910              9                 Widowed
32559   22            Private  201490              9           Never-married
32560   52       Self-emp-inc  287927              9      Married-civ-spouse

               occupation     relationship                 race      sex  \
0            Adm-clerical    Not-in-family                White     Male
1         Exec-managerial          Husband                White     Male
2       Handlers-cleaners    Not-in-family                White     Male
3       Handlers-cleaners          Husband                Black     Male
4          Prof-specialty             Wife                Black   Female
5         Exec-managerial             Wife                White   Female
6           Other-service    Not-in-family                Black   Female
7         Exec-managerial          Husband                White     Male
8          Prof-specialty    Not-in-family                White   Female
9         Exec-managerial          Husband                White     Male
10        Exec-managerial          Husband                Black     Male
11         Prof-specialty          Husband   Asian-Pac-Islander     Male
12           Adm-clerical        Own-child                White   Female
13                  Sales    Not-in-family                Black     Male
14           Craft-repair          Husband   Asian-Pac-Islander     Male
15       Transport-moving          Husband   Amer-Indian-Eskimo     Male
16        Farming-fishing        Own-child                White     Male
17      Machine-op-inspct        Unmarried                White     Male
18                  Sales          Husband                White     Male
19        Exec-managerial        Unmarried                White   Female
20         Prof-specialty          Husband                White     Male
21          Other-service        Unmarried                Black   Female
22        Farming-fishing          Husband                Black     Male
23       Transport-moving          Husband                White     Male
24           Tech-support        Unmarried                White   Female
25           Tech-support          Husband                White     Male
26           Craft-repair        Own-child                White     Male
27         Prof-specialty          Husband   Asian-Pac-Islander     Male
28        Exec-managerial    Not-in-family                White     Male
29           Craft-repair          Husband                White     Male
...                   ...              ...                  ...      ...
32531      Prof-specialty    Not-in-family   Asian-Pac-Islander   Female
32532      Prof-specialty          Husband                White     Male
32533     Exec-managerial          Husband   Asian-Pac-Islander     Male
32534        Adm-clerical        Unmarried                White   Female
32535     Protective-serv        Own-child                Black     Male
32536     Exec-managerial    Not-in-family                White   Female
32537        Craft-repair    Not-in-family                Black     Male
32538      Prof-specialty        Unmarried                Black   Female
32539      Prof-specialty          Husband                White     Male
32540        Adm-clerical        Own-child                White   Female
32541      Prof-specialty    Not-in-family                Black   Female
32542      Prof-specialty          Husband                White     Male
32543      Prof-specialty        Unmarried                White   Female
32544       Other-service    Not-in-family                Other   Female
32545        Adm-clerical             Wife                White   Female
32546        Tech-support    Not-in-family                White   Female
32547   Machine-op-inspct          Husband                White     Male
32548      Prof-specialty    Not-in-family                White     Male
32549        Adm-clerical   Other-relative                White   Female
32550        Craft-repair          Husband                White     Male
32551   Handlers-cleaners          Husband   Amer-Indian-Eskimo     Male
32552               Sales          Husband                White     Male
32553        Tech-support    Not-in-family   Asian-Pac-Islander     Male
32554     Exec-managerial          Husband                White     Male
32555     Protective-serv    Not-in-family                White     Male
32556        Tech-support             Wife                White   Female
32557   Machine-op-inspct          Husband                White     Male
32558        Adm-clerical        Unmarried                White   Female
32559        Adm-clerical        Own-child                White     Male
32560     Exec-managerial             Wife                White   Female

       capital.gain  capital.los  hours.per.week  native.country
0              2174            0              40   United-States
1                 0            0              13   United-States
2                 0            0              40   United-States
3                 0            0              40   United-States
4                 0            0              40            Cuba
5                 0            0              40   United-States
6                 0            0              16         Jamaica
7                 0            0              45   United-States
8             14084            0              50   United-States
9              5178            0              40   United-States
10                0            0              80   United-States
11                0            0              40           India
12                0            0              30   United-States
13                0            0              50   United-States
14                0            0              40   United-States
15                0            0              45          Mexico
16                0            0              35   United-States
17                0            0              40   United-States
18                0            0              50   United-States
19                0            0              45   United-States
20                0            0              60   United-States
21                0            0              20   United-States
22                0            0              40   United-States
23                0         2042              40   United-States
24                0            0              40   United-States
25                0            0              40   United-States
26                0            0              40   United-States
27                0            0              60           South
28                0            0              80   United-States
29                0            0              40   United-States
...             ...          ...             ...             ...
32531             0            0              99   United-States
32532             0            0              60   United-States
32533             0            0              50           Japan
32534             0            0              39   United-States
32535             0            0              35   United-States
32536             0            0              55   United-States
32537             0            0              46   United-States
32538         15020            0              45   United-States
32539             0            0              10   United-States
32540             0            0              40   United-States
32541             0            0              32   United-States
32542             0            0              25   United-States
32543             0            0              48   United-States
32544             0            0              30   United-States
32545             0            0              20   United-States
32546             0            0              40   United-States
32547             0            0              40          Mexico
32548          1086            0              60   United-States
32549             0            0              40   United-States
32550             0            0              50   United-States
32551             0            0              40   United-States
32552             0            0              45   United-States
32553             0            0              11          Taiwan
32554             0            0              40   United-States
32555             0            0              40   United-States
32556             0            0              38   United-States
32557             0            0              40   United-States
32558             0            0              40   United-States
32559             0            0              20   United-States
32560         15024            0              40   United-States

[32561 rows x 13 columns]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, train_size = 0.7)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

((22792, 92), (9769, 92), (22792,), (9769,))

In [15]:
############################################### My Logistic Regression#################################
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0)
lr = lr.fit(X_train,Y_train)
predicted_lr = lr.predict(X_test)
from sklearn.metrics import accuracy_score
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_lr)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8555635172484389

In [16]:
#################################### Cross validation Logistic Regression ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=lr, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8468322902473384

In [17]:
############################################ Grid search  for logistic Regression #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'C' :np.arange(0.1,1)}
reg = LogisticRegression()
grid = GridSearchCV(lr, param_grid, cv = 5)
grid.fit(X_train, Y_train)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

{'C': 0.1}

In [18]:
############################################ My Decision tree#####################################################3
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1, max_depth=5)
dtc = dtc.fit(X_train, Y_train)
predicted_dtc = dtc.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_dtc)

0.8517760262053434

In [19]:
#################################### Cross validation Decision tree ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=dtc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

0.8464375341601041

In [20]:
############################################ My Grid search for Decision tree #######################################################
#### !!!!!!!!!!!this one takes a lot of time ten mintues!!!!!!!!!!!!!!!############
from sklearn.model_selection import GridSearchCV
param_grid = {'max_depth': range(2,15),'max_features': range(4,93)}
grid = GridSearchCV(dtc, param_grid, cv=5, n_jobs=-1, verbose=True)

grid.fit(X_train, Y_train)
y_pred_class = grid.predict(X_test)
grid.best_params_

Fitting 5 folds for each of 1157 candidates, totalling 5785 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:   37.8s
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 1246 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 1796 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 2446 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 3196 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 4046 tasks      | elapsed:  6.8min
[Parallel(n_jobs=-1)]: Done 4996 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 5785 out of 5785 | elapsed: 10.6min finished

{'max_depth': 7, 'max_features': 63}

In [21]:
############################################## My SVC ###############################################################
from sklearn.svm import SVC
svc = SVC(kernel='rbf', C=1.0, degree=3, class_weight=None)
svc =svc.fit(X_train, Y_train)
predicted_svc = svc.predict(X_test)
from sklearn import metrics
print (metrics.accuracy_score(Y_test, predicted_svc))

import time
import datetime
start_time = time.time()
print (f"Elapsed time: {datetime.timedelta(seconds=time.time()-start_time)} ")

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8325314771215068
Elapsed time: 0:00:00.000068

In [0]:
#################################### My Cross  for validation SVC ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=svc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8244122730037027

In [22]:
############################################ My Grid search for SVC #######################################################
#### !!!!!!!!!!!this one takes a lot of time!!!!!!!!!!!!!!!############
from sklearn.model_selection import GridSearchCV
param_grid = {'C' :np.arange(0.1,1)}
svc = SVC()
grid = GridSearchCV(svc, param_grid, cv=3)
grid.fit(X_train, Y_train)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

{'C': 0.1}

In [23]:
################################################### My KNN #############################################
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6,metric='minkowski',p=2)
knn =knn.fit(X_train, Y_train)
predicted_knn = knn.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_knn)

0.8277203398505476

In [25]:
#################################### My Cross validation KNN ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=knn, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

0.8247187516839487

In [26]:
############################################ My Grid search KNN #######################################################
#### !!!!!!!!!!!this one takes a lot of time!!!!!!!!!!!!!!!############
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors' :np.arange(1,10)}
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid, cv = 5)
grid.fit(X_train, Y_train)
grid.best_params_

{'n_neighbors': 9}