In [163]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [164]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
forest_fires = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv')
forest_fires['area']=np.log(pd.Series(forest_fires.area)+1)
forest_fires.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [165]:
forest_fires.isnull().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

In [166]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
MY_ENC = LabelEncoder()
MY_ENC.fit(forest_fires['month'])

LabelEncoder()

In [167]:
forest_fires['month']=MY_ENC.transform(forest_fires['month'])
forest_fires.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      7  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4     10  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6      7  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6      7  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [168]:
MY_ENC.fit(forest_fires['day'])
forest_fires['day']=MY_ENC.transform(forest_fires['day'])
forest_fires.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      7    0  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    5  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    2  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6      7    0  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6      7    3  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [169]:
forest_fires['FFMC'] = forest_fires['FFMC'].astype(np.int64)
forest_fires['DMC'] = forest_fires['DMC'].astype(np.int64)
forest_fires['DC'] = forest_fires['DC'].astype(np.int64)
forest_fires['ISI'] = forest_fires['ISI'].astype(np.int64)
forest_fires['temp'] = forest_fires['temp'].astype(np.int64)
forest_fires['wind'] = forest_fires['wind'].astype(np.int64)
forest_fires['rain'] = forest_fires['rain'].astype(np.int64)
forest_fires['area'] = forest_fires['area'].astype(np.int64)
forest_fires.head()

   X  Y  month  day  FFMC  DMC   DC  ISI  temp  RH  wind  rain  area
0  7  5      7    0    86   26   94    5     8  51     6     0     0
1  7  4     10    5    90   35  669    6    18  33     0     0     0
2  7  4     10    2    90   43  686    6    14  33     1     0     0
3  8  6      7    0    91   33   77    9     8  97     4     0     0
4  8  6      7    3    89   51  102    9    11  99     1     0     0

In [185]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

data = forest_fires
target = data['area']
del data['area']
print(forest_fires)
scaler = MinMaxScaler()
data[['FFMC','DMC','DC','ISI','temp', 'RH','wind', 'rain']] = scaler.fit_transform(data[['FFMC','DMC','DC','ISI','temp', 'RH','wind', 'rain']])

print()

     X  Y  month  day  FFMC  DMC   DC  ISI  temp  RH  wind  rain
0    7  5      7    0    86   26   94    5     8  51     6     0
1    7  4     10    5    90   35  669    6    18  33     0     0
2    7  4     10    2    90   43  686    6    14  33     1     0
3    8  6      7    0    91   33   77    9     8  97     4     0
4    8  6      7    3    89   51  102    9    11  99     1     0
5    8  6      1    3    92   85  488   14    22  29     5     0
6    8  6      1    1    92   88  495    8    24  27     3     0
7    8  6      1    1    91  145  608   10     8  86     2     0
8    8  6     11    5    91  129  692    7    13  63     5     0
9    7  5     11    2    92   88  698    7    22  40     4     0
10   7  5     11    2    92   88  698    7    17  51     7     0
11   7  5     11    2    92   73  713   22    19  38     4     0
12   6  5      1    0    63   70  665    0    17  72     6     0
13   6  5     11    1    90  126  686    7    21  42     2     0
14   6  5     11    6    92  133  699    9    26  21     4     0
15   6  5     11    0    93  141  713   13    22  44     5     0
16   5  5      7    2    91   35   80    7    15  27     5     0
17   8  5     10    1    84   32  664    3    16  47     4     0
18   6  4      7    6    89   27   70    6    15  35     4     0
19   6  4      0    2    86   27   97    5     9  44     4     0
20   6  4     11    5    91  129  692    7    18  40     2     0
21   5  4     11    1    91   78  724    9    19  38     2     0
22   7  4      6    3    94   96  200   56    21  44     4     0
23   7  4      1    2    90  110  537    6    19  43     5     0
24   7  4      1    2    93  139  594   20    23  32     5     0
25   7  4      1    3    91  142  601   10    16  60     5     0
26   7  4     11    0    92  117  668   12    19  34     5     0
27   7  4     11    1    90  126  686    7    19  48     1     0
28   6  3     11    2    93  145  721    8    30  24     2     0
29   6  3     11    3    93  149  728    8    22  39     3     0
..  .. ..    ...  ...   ...  ...  ...  ...   ...  ..   ...   ...
487  5  4      1    5    95  141  605   17    26  34     3     0
488  4  4      1    5    95  141  605   17    19  71     7     0
489  4  4      1    6    95  141  605   17    20  58     1     0
490  4  4      1    6    95  141  605   17    28  33     4     0
491  4  4      1    4    95  152  624   13    32  21     4     0
492  1  3      1    0    95  158  633   11    32  27     2     0
493  1  3      1    0    95  158  633   11    27  29     4     0
494  6  6      1    2    96  164  643   14    30  30     4     0
495  6  6      1    1    96  175  661   16    23  42     2     0
496  4  5      1    1    96  175  661   16    32  26     3     0
497  3  4      1    5    96  181  671   14    32  27     2     0
498  6  5      1    5    96  181  671   14    33  26     2     0
499  7  5      1    5    96  181  671   14    27  63     4     6
500  8  6      1    5    96  181  671   14    21  65     4     0
501  7  5      1    5    96  181  671   14    21  65     4     0
502  4  4      1    5    96  181  671   14    20  69     4     0
503  2  4      1    6    94  139  689   20    29  30     4     0
504  4  3      1    6    94  139  689   20    28  29     4     0
505  1  2      1    4    91  163  744   10    26  35     1     0
506  1  2      1    0    91  166  752    7    18  73     8     0
507  2  4      1    0    91  166  752    7    25  41     3     0
508  1  2      1    0    91  166  752    7    25  41     3     0
509  5  4      1    0    91  166  752    7    21  71     7     1
510  6  5      1    0    91  166  752    7    18  62     5     0
511  8  6      1    3    81   56  665    1    27  35     2     0
512  4  3      1    3    81   56  665    1    27  32     2     0
513  2  4      1    3    81   56  665    1    21  71     5     0
514  7  4      1    3    81   56  665    1    21  70     6     0
515  1  4      1    2    94  146  614   11    25  42     4     0
516  6  3      9    5    79    3  106    1    11  31     4     0

[517 rows x 12 columns]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [186]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, train_size = 0.70)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

((361, 12), (156, 12), (361,), (156,))

In [187]:
############################################### My LinearRegression #################################
from sklearn.linear_model import LinearRegression
lr = LinearRegression ()
lr = lr.fit(X_train,Y_train)
predicted_lr = lr.predict(X_test)
from sklearn import metrics
mse = metrics.mean_squared_error(Y_test,predicted_lr)
mse

1.7778634416753227

In [188]:
#################################### My Cross validation Linear Regression ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=lr, X=X_train, y=Y_train, cv=300)
all_accuracies.mean()

-0.21731150584145936

In [189]:
############################################ My Grid search linear Regression #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'fit_intercept':[True,False], 'normalize':[True,False], 'copy_X':[True, False]};
reg = LinearRegression()
grid = GridSearchCV(lr, param_grid, cv = 5)
grid.fit(X_train, Y_train)
Y_pred_reg = grid.predict(X_test)
grid.best_params_

{'copy_X': True, 'fit_intercept': False, 'normalize': True}

In [191]:
############################################ My Decision tree#####################################################3
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc = dtc.fit(X_train, Y_train)
predicted_dtc = dtc.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_dtc)

0.358974358974359

In [192]:
####################################Cross validation Decision tree ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=dtc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.4385980095207498

In [193]:
############################################Grid search#######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'max_depth':np.arange(2,200)}
grid = GridSearchCV(dtc, param_grid, cv=5, scoring='neg_mean_squared_error')
grid.fit(X_train, Y_train.values.ravel())
y_pred_class = grid.predict(X_test)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'max_depth': 4}

In [194]:
###################################################KNN#############################################
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn =knn.fit(X_train, Y_train)
predicted_knn = knn.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_knn)

0.5

In [196]:
####################################Cross validation KNN ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=knn, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.5438018056056543

In [197]:
########################################### My Grid search KNN #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors' :np.arange(1,10)}
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid, cv = 5)
grid.fit(X_train, Y_train)
predicted_knn = grid.predict(X_test)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'n_neighbors': 9}

In [198]:
from skimage.filters import threshold_otsu

target = np.array(target)
threshold_global_otsu = threshold_otsu(target)
global_otsu = target >= threshold_global_otsu
global_otsu

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False,  True,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False,  True, False, False, False,  True,
        True,  True, False,  True, False, False, False, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True, False, False, False,
       False, False, False,  True,  True,  True,  True, False, False,
       False, False, False, False,  True, False, False, False, False,
       False,  True, False, False, False,  True, False, False, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True, False, False, False, False,  True,  True,  True,  True,
        True, False, False, False,  True,  True, False,  True, False,
       False,  True,  True,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True, False, False, False,  True,
       False,  True, False,  True,  True,  True,  True, False,  True,
       False,  True, False, False, False,  True,  True, False,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True, False, False,  True,
        True,  True, False, False,  True,  True, False, False,  True,
       False,  True, False,  True, False, False,  True, False, False,
       False,  True,  True, False,  True,  True,  True, False,  True,
       False,  True, False, False,  True, False,  True, False,  True,
       False,  True, False, False, False, False,  True, False, False,
       False,  True, False,  True, False, False, False, False, False,
        True,  True, False, False, False, False, False,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False,  True,  True,
        True,  True,  True, False, False, False, False,  True,  True,
       False,  True,  True,  True,  True, False, False, False,  True,
        True,  True, False, False, False,  True, False, False,  True,
        True,  True, False, False])

In [199]:
print(threshold_global_otsu)
print(np.histogram(Y_test,np.unique(target)))
print(np.histogram(Y_pred_reg,np.unique(target)))
print(np.histogram(predicted_knn,np.unique(target)))
print(np.histogram(y_pred_class,np.unique(target)))

1
(array([85, 26, 23, 13,  7,  2]), array([0, 1, 2, 3, 4, 5, 6]))
(array([120,  35,   0,   0,   0,   0]), array([0, 1, 2, 3, 4, 5, 6]))
(array([147,   7,   2,   0,   0,   0]), array([0, 1, 2, 3, 4, 5, 6]))
(array([132,  17,   7,   0,   0,   0]), array([0, 1, 2, 3, 4, 5, 6]))

In [200]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(Y_test, Y_pred_reg))
print(mean_squared_error(Y_test, predicted_knn))
print(mean_squared_error(Y_test, y_pred_class))

1.7780165773592176
2.5833333333333335
2.4294871794871793